// @import '../../site-settings.scss' 


/*=================================
Typography
=================================*/
h1{font-size: $h1-font-size;}
h2{font-size: $h2-font-size;}
h3{font-size: $h3-font-size;}
h4{font-size: $h4-font-size;}
h5{font-size: $h5-font-size;}
h6{font-size: $h6-font-size;}
p{
	font-size: $global-font-size;
	color: $global-font-color;
}