

/*=================================
Color
=================================*/
$primary-color       : #3d3d3d;
$secondary-color     : #ed1c24;
$tertiary-color      : #eeeeee;
$callout             : #ebebeb;
$success-color       : #3adb76;
$warning-color       : #ffae00;
$alert-color         : #ed1c24;
$black               : #0a0a0a;
$white               : #ffffff;

/*=================================
Typography
=================================*/
$large-font-size: 18px;
$global-font-size: 16px;
$small-font-size: 12px;
$global-font-color: $primary-color;
$secondary-font-color: $secondary-color;
$tertiary-font-color: $secondary-color;
$h1-font-size: 56px;
$h2-font-size: 36px;
$h3-font-size: 32px;
$h4-font-size: 28px;
$h5-font-size: 22px;
$h6-font-size: 18px;